.pageNumber {
    font-weight: bold;
    color: green;
    cursor: pointer;
    padding: 5px;
}
.selectedPage {
    color: red;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
.selectedPage2 {
    color: rebeccapurple;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.paginator {
    display: flex;
    align-items: center;
    height: 20px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}