.pageNumber {
    font-weight: bold;
    color: #1890ff;
    cursor: pointer;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #eeee
}
.selectedPage {
    display: inline-block;
    cursor: pointer;

}
/*.selectedPage2 {*/
/*    color: rebeccapurple;*/
/*    display: inline-block;*/
/*    margin: 0 5px;*/
/*    cursor: pointer;*/
/*}*/

.paginator {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 25px;
    justify-content: center;
}

.pageNumber {
    padding: 10px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}