.pageNumber {
    font-weight: bold;
    color: green;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.selectedPage {
    color: red;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

}
.selectedPage2 {
    color: rebeccapurple;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.paginator {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 25px;
    justify-content: center;
}

.pageNumber {
    padding: 10px;

}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}