.profileInfoWrapper {
    border: 1px solid paleturquoise;
    padding: 10px;
    /*padding: 100px 0 100px*/
}

.wallpaper {
    /*background-image: url("https://wallpaperscave.ru/images/thumbs/wp-preview/800x500/18/03-02/games-fallout-4-24022.jpg");*/
    /*background-size: contain;*/
    /*height: 60vh;*/
    /*background-repeat: no-repeat;*/
    padding: 20px;
    background: lightyellow;
    margin: 15px 0;
    /*margin-left: 0;*/


}

.avatar {
   max-width: 200px;
}
.contacts {
    display: flex;
    padding-left:10px;
}
.contacts b {
    margin-right: 5px;
}
.editField {
    display: flex;
}
.editField b {
    margin-right: 5px;
}

.commonErrorText {
    color: red;
}